html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: #B9C38E;
  color: #34352D;
}

input[type=text] {
  background: inherit;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: #34352D;
  border-bottom-style: dashed;
}

button {
  background-color: inherit;
  border-color: #34352D;
  border-bottom-style: dotted;
  border-left-style: dotted;
  border-top-style: none;
  border-right-style: none;
}
