html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: #B9C38E;
  color: #34352D;
}

.modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  background: inherit;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: #34352D;
  border-bottom-style: dashed;
}

input[type='checkbox'] {
  height: 0;
  width: 0;
}

input[type='checkbox']+label {
  position: relative;
  display: flex;
  margin: .6em 0;
  align-items: center;
  color: #9e9e9e;
  transition: color 250ms cubic-bezier(.4, .0, .23, 1);
}

input[type='checkbox']+label>ins {
  position: absolute;
  display: block;
  bottom: 0;
  left: 2em;
  height: 0;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  transition: height 300ms cubic-bezier(.4, .0, .23, 1);
}

input[type='checkbox']+label>ins>i {
  position: absolute;
  bottom: 0;
  font-style: normal;
  color: #4FC3F7;
}

input[type='checkbox']+label>span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 2px solid #9E9E9E;
  border-radius: 2px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(.4, .0, .23, 1);
}

input[type='checkbox']+label:hover,
input[type='checkbox']:focus+label {
  color: #fff;
}

input[type='checkbox']+label:hover>span,
input[type='checkbox']:focus+label>span {
  background: rgba(255, 255, 255, .1);
}

input[type='checkbox']:checked+label>ins {
  height: 100%;
}

input[type='checkbox']:checked+label>span {
  border: .5em solid #FFEB3B;
  animation: shrink-bounce 200ms cubic-bezier(.4, .0, .23, 1);
}

input[type='checkbox']:checked+label>span:before {
  content: "";
  position: absolute;
  top: .6em;
  left: .2em;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check 125ms 250ms cubic-bezier(.4, .0, .23, 1) forwards;
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #212121;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: .2em;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: .2em;
    height: .5em;
    border-color: #212121;
    transform: translate3d(0, -.5em, 0) rotate(45deg);
  }
}

button {
  background-color: inherit;
  border-color: #34352D;
  border-bottom-style: dotted;
  border-left-style: dotted;
  border-top-style: none;
  border-right-style: none;
}
